@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #f3f4f6;
  --color-neon-green: #00FF41;
  --color-neon-red: #FF003C;
  --color-neon-cyan: #00E5FF;
  --color-neon-slate: #1A1A1A;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial,
    Helvetica,
    sans-serif;
  overflow: hidden;
  /* Evitar scroll en Terminal Blooomberg */
}

/* Custom Webkit Scrollbar para zonas de logs */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00E5FF;
}